@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  list-style: none;
}

.container {
  max-width: 1200px;
  padding: 0 32px;
  margin: 0 auto;
}

nav {
  position: fixed;
  width: 100%;
}
nav #nav-top {
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: transparent;
  border-bottom: 1px gray solid;
}
nav #nav-top .nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  gap: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
nav #nav-top .nav-top .nav-top-icon {
  display: flex;
  gap: 20px;
  color: white;
  font-size: 14px;
}
nav #nav-top .nav-top h5 {
  color: #fff;
}
nav #nav-bottom {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: transparent;
}
nav #nav-bottom .nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
nav #nav-bottom .nav-main .nav-ul {
  display: flex;
  gap: 20px;
  align-items: center;
  text-decoration: none;
}
nav #nav-bottom .nav-main .nav-ul a {
  text-decoration: none;
  color: white;
}
nav #nav-bottom .nav-main .nav-ul a:hover {
  text-decoration: underline;
}
nav #nav-bottom .nav-main-icon ul {
  display: flex;
  gap: 20px;
  align-items: center;
}
nav #nav-bottom .nav-main-icon ul li {
  color: white;
}
nav #nav-bottom .nav-bar {
  display: none;
  color: black;
  cursor: pointer;
}

#banner {
  padding-top: 200px;
  padding-bottom: 200px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/header-bg.jpg.webp");
  background-size: cover;
}
#banner .banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#banner .banner .banner-text {
  width: 70%;
}
#banner .banner .banner-text h4 {
  color: #fff;
}
#banner .banner .banner-text h1 {
  font-size: 56px;
  font-weight: 300;
  color: #fff;
}
#banner .banner .banner-text p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
  color: #fff;
}
#banner .banner .banner-text .banner-btn {
  margin-top: 20px;
  background-color: #fab700;
  cursor: pointer;
  color: #fff;
  padding: 10px 0;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  transition: all 0.8s ease;
}
#banner .banner .banner-text .banner-btn:hover {
  background-color: black;
  border: 1px solid yellow;
  color: white;
}

/* Eklediğiniz class için stiller */
.scrolled {
  background-color: rgba(0, 0, 0, 0.8);
  /* Diğer stilleri ekleyin */
}

#services {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}
#services h1 {
  font-size: 44px;
}
#services #p {
  color: #777777;
}
#services .services {
  display: flex;
  gap: 30px;
  margin-top: 100px;
}
#services .services .services-box {
  padding: 30px;
  background-color: #f9f9ff;
  display: flex;
  flex-direction: column;
  transition: all 0.9s ease 0s;
}
#services .services .services-box:hover {
  background-color: orange;
}
#services .services .services-box .services-image {
  width: 60%;
}
#services .services .services-box .services-image .img {
  width: 100%;
  height: 100%;
}
#services .services .services-box .services-text {
  width: 100%;
}
#services .services .services-box .services-text h2 {
  font-size: 1.2rem;
  color: #222222;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
#services .services .services-box .services-text p {
  color: #777777;
}/*# sourceMappingURL=style.css.map */