* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    list-style: none;
}

.container {
    max-width: 1200px;
    padding: 0 32px;
    margin: 0 auto;
}

nav{
    position: fixed;
    width: 100%;
    #nav-top {
        padding-bottom: 10px;
        padding-top: 10px;
        background-color: transparent;
        border-bottom: 1px gray solid;
    
        .nav-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 6px;
            gap: 30px;
            font-family: Arial, Helvetica, sans-serif;
    
            .nav-top-icon {
                display: flex;
                gap: 20px;
                color: white;
                font-size: 14px;
            }
    
            h5 {
                color: #fff;
            }
        }
    }
    
    #nav-bottom {
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: transparent;
    
        .nav-main {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 100px;
    
    
            .nav-ul {
                display: flex;
                gap: 20px;
                align-items: center;
                text-decoration: none;
    
                a {
                    text-decoration: none;
                    color: white;
    
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    
        .nav-main-icon {
            ul {
                display: flex;
                gap: 20px;
                align-items: center;
    
                li {
                    color: white;
                }
            }
        }
    
        .nav-bar {
            display: none;
            color: black;
            cursor: pointer;
        }
    }
}
#banner {
    padding-top: 200px;
    padding-bottom: 200px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('images/header-bg.jpg.webp');
    background-size: cover;

    .banner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .banner-text {
            width: 70%;
            h4{
                color: #fff;
            }

            h1 {
                font-size: 56px;
                font-weight: 300;
                color: #fff;
            }

            p {
                font-size: 14px;
                font-weight: 300;
                line-height: 1.625em;
                color: #fff
            }

            .banner-btn {
                margin-top: 20px;
                background-color:#fab700 ;
                cursor: pointer;
                padding: 10px 0;
                padding-left: 30px;
                padding-right: 30px;
                font-size: 14px;
                font-weight: 500;
                border: none;
                transition: all 0.8s ease;

                &:hover {
                    background-color: black;
                    border: 1px solid yellow;
                    color: white;
                }
            }


        }
    }
}