* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    list-style: none;
}

.container {
    max-width: 1200px;
    padding: 0 32px;
    margin: 0 auto;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 1000;

    #nav-top {
        padding-bottom: 10px;
        padding-top: 10px;
        background-color: transparent;
        border-bottom: 1px gray solid;

        .nav-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 6px;
            gap: 30px;
            font-family: Arial, Helvetica, sans-serif;

            .nav-top-icon {
                display: flex;
                gap: 20px;
                color: white;
                font-size: 12px;
            }

            p {
                color: #fff;
                font-size: 12px;
            }
        }
    }

    #nav-bottom {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: transparent;

        .nav-main {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 100px;


            .nav-ul {
                display: flex;
                gap: 20px;
                align-items: center;
                text-decoration: none;

                a {
                    text-decoration: none;
                    color: white;
                    font-size: 14px;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .nav-menu {
                display: none;
            }

            .hamburger {
                display: none;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.7);
                align-items: center;
                justify-content: center;
                z-index: 1000;
                transition: opacity 0.3s ease;

                #close-button {
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    cursor: pointer;
                    color: white;
                    font-size: 40px;
                }

                .hamburger-menu {
                    position: absolute;
                    width: 30%;
                    height: 100%;
                    min-width: 200px;
                    background-color: black;
                    list-style: none;
                    padding: 50px;
                    margin: 0;
                    text-align: left;

                    li {
                        margin-bottom: 20px;

                        a {
                            color: #f9f9ff;
                            text-decoration: none;
                        }
                    }
                }
            }
            @keyframes slideInRight {
                from {
                  transform: translateX(100%);
                }
                to {
                  transform: translateX(0);
                }
              }
              
              @keyframes slideOutRight {
                from {
                  transform: translateX(0);
                }
                to {
                  transform: translateX(100%);
                }
              }
              
              .hamburger-enter {
                animation: slideInRight 0.3s ease;
              }
              
              .hamburger-enter-active {
                animation: slideInRight 0.3s ease;
              }
              
              .hamburger-exit {
                animation: slideOutRight 0.3s ease;
              }
              
              .hamburger-exit-active {
                animation: slideOutRight 0.3s ease;
              }
              
        }

        .nav-main-icon {
            ul {
                display: flex;
                gap: 20px;
                align-items: center;

                li {
                    color: white;
                }
            }
        }

        .nav-bar {
            display: none;
            color: black;
            cursor: pointer;
        }
    }
}

#banner {
    padding-top: 200px;
    padding-bottom: 200px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('images/header-bg.jpg.webp');
    background-size: cover;

    .banner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .banner-text {
            width: 70%;

            h4 {
                color: #fff;
            }

            h1 {
                font-size: 48px;
                font-weight: 700;
                color: #fff;
            }

            p {
                font-size: 14px;
                font-weight: 300;
                line-height: 1.625em;
                color: #fff
            }

            .banner-btn {
                margin-top: 20px;
                background-color: #fab700;
                cursor: pointer;
                color: #fff;
                padding: 10px 0;
                padding-left: 30px;
                padding-right: 30px;
                font-size: 14px;
                font-weight: 500;
                border: none;
                transition: all 0.8s ease;

                &:hover {
                    background-color: black;
                    border: 1px solid yellow;
                    color: white;
                }
            }


        }
    }
}

/* Eklediğiniz class için stiller */
.scrolled {
    background-color: rgba(0, 0, 0, 0.8);
    /* Diğer stilleri ekleyin */
}

#services {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;

    h1 {
        font-size: 36px;
        color: #222222;
    }

    #p {
        color: #777777;
    }

    .services {
        display: flex;
        gap: 30px;
        margin-top: 100px;

        .services-box {
            padding: 30px;
            background-color: #f9f9ff;
            display: flex;
            flex-direction: column;
            transition: all 0.9s ease 0s;

            &:hover {
                background-color: orange;
            }

            .services-image {
                width: 100%;

                .img {
                    width: 100%;
                    height: 100%;
                }
            }

            .services-text {
                width: 100%;

                h2 {
                    font-size: 1.2rem;
                    color: #222222;
                    margin-block-start: 0.83em;
                    margin-block-end: 0.83em;
                    margin-inline-start: 0px;
                    margin-inline-end: 0px;
                    font-weight: bold;
                    text-align: left;
                }

                p {
                    color: #777777;
                    width: 100%;
                    text-align: left;
                }
            }
        }
    }
}

#features {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #f9f9ff;

    h1 {
        text-align: center;
        font-size: 36px;
    }

    p {
        text-align: center;
        color: #777777;
    }

    .features {
        margin-top: 50px;
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(3, 1fr);

        .feature-box {
            background-color: #fff;
            padding: 20px;
            transition: all 0.9s ease 0s;
            cursor: pointer;

            &:hover {
                background-color: orange;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
            }

            h2 {
                font-size: 18px;
                color: #222222;
                margin-block-start: 0.83em;
                margin-block-end: 0.83em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                font-weight: bold;
                text-align: left;

                i {
                    margin-right: 20px;
                }
            }

            p {
                font-size: 14px;
                text-align: left;
            }
        }
    }
}

#latest {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #f9f9ff;

    h1 {
        font-size: 36px;
        text-align: center;
    }

    #p3 {
        margin: 0 auto;
        text-align: center;
        color: #777777;
        font-size: 14px;
        width: 50%;
        margin-top: 10px;
    }

    .latest {
        margin-top: 80px;
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(4, 1fr);

        .latest-box {
            .latest-image {
                overflow: hidden;

                img {
                    transition: all 0.9s ease 0s;
                }

                &:hover img {
                    transform: scale(1.2);

                }

            }

            .latest-btn {
                background-color: black;
                color: #777777;
                border: none;
                padding: 5px 20px;
                margin-top: 10px;
            }

            h2 {
                font-size: 18px;
                color: #222222;
                margin-block-start: 0.70em;
                margin-bottom: 12px;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                font-weight: bold;
                text-align: left;

            }

            p {
                font-size: 14px;
                color: #777777;
                margin-bottom: 15px;
            }

            .latest-comment {
                display: flex;
                justify-content: space-between;

                i {
                    margin-right: 10px;
                }
            }
        }
    }
}

#footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #04091e;

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        width: 100%;

        .footer-box {
            h2 {
                padding-bottom: 10px;
            }

            p {
                padding-bottom: 10px;
            }
        }

        .footer-box:nth-child(1) {
            width: 50%;

            h2 {
                color: #fff;
                font-size: 18px;
            }

            p {
                color: #777777;
                font-size: 14px;
            }
        }

        .footer-box:nth-child(2) {
            width: 40%;

            h2 {
                color: #fff;

                font-size: 18px;
            }

            input {
                width: 70%;
            }

            button {
                background-color: #fab700;
                border: none;
                color: #fff;
            }

            input,
            button {
                padding: 10px 8px;
            }

            p {
                color: #777777;
                font-size: 14px;
            }

        }

        .footer-box:nth-child(3) {
            width: 20%;

            h2 {
                color: #fff;

                font-size: 18px;
            }

            p {
                color: #777777;
            }

            .footer-icon {
                display: flex;
                gap: 20px;

                i {
                    color: #fff;
                }
            }
        }




    }
}


@media screen and (max-width:992px) {
    .container {
        padding: 0px 32px;
        margin: 0 auto;
    }

    nav {
        #nav-bottom {
            .nav-main {
                .nav-ul {
                    display: none;
                }

                .nav-menu {
                    display: block;

                    i {
                        color: #fff;
                        cursor: pointer;
                    }
                }

                .hamburger {
                    display: block;


                }

            }
        }
    }

    #banner {
        padding-top: 150px;
        padding-bottom: 50px;

        .banner {
            .banner-text {
                width: 100%;

            }
        }
    }

    #services {
        .services {
            width: 80%;
            margin: 0 auto;
            flex-direction: column;

            .services-box {
                margin-top: 50px;

                .services-image {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    #features {
        .features {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    #latest {
        #p3 {
            padding-bottom: 50px;

        }

        .latest {
            width: 80%;
            margin: 0 auto;
            grid-template-columns: repeat(2, 1fr);
        }

        .latest-box {
            padding: 20px;
        }
    }

    #footer {
        .footer {
            flex-wrap: wrap;
        }
    }

}

@media screen and (max-width:768px) {
    #banner {
        padding-top: 150px;
        padding-bottom: 50px;

        .banner {
            .banner-text {
                width: 100%;

                h1 {
                    font-size: 40px;
                }

            }
        }
    }

    #services {
        .services {
            width: 100%;
            margin: 0 auto;
            flex-direction: column;
        }
    }

    #features {
        h1 {
            font-size: 40px;
        }

        #p2 {
            padding-bottom: 50px;
        }

        .features {
            width: 80%;
            margin: 0 auto;
            grid-template-columns: 1fr;
        }
    }

    #latest {
        #p3 {
            width: 80%;
        }

        .latest {
            width: 100%;
            margin: 0 auto;
            grid-template-columns: repeat(1, 1fr);

            .latest-box {
                padding: 20px;

                .latest-image {
                    img {
                        width: 100%;
                    }
                }
            }
        }

    }

    #footer {
        .footer {
            width: 100%;
            flex-direction: column;

            .footer-box:nth-child(1) {
                width: 100%;
            }

            .footer-box:nth-child(2) {
                width: 100%;
            }

            .footer-box:nth-child(3) {
                width: 100%;
            }
        }
    }

}